<div id="post_content">
<% @posts.each do |post| %>
	<div class="post_warpper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %>
		<% if user_signed_in? %>
		 | <%= link_to '刪除', post_path(post),method: :delete,data: {confirm: '你確定嗎?'} %> </p>
		<% end %>
	</div>
<% end %>
</div>